<br>
<div class="ui secondary pointing menu container">
  <a [routerLink]="['/site/RegisterChild']" [routerLinkActive]="'active'" class="item">
        רישום ילד\ה
  </a>
  <a [routerLink]="['/site/RegisterKindergarten']" [routerLinkActive]="'active'"  class="item">
    רישום גן
  </a>
  <a [routerLink]="['/kindergarten']" [routerLinkActive]="'active'"  class="item">
    רשימת נוכחות
  </a>
  <div class="left menu">
    <a *ngIf="!auth.authenticated()" [routerLink]="['/site/login']" class="item">
      הכנס
    </a>
    <a *ngIf="auth.authenticated()" [routerLink]="['/site/logout']" class="item">
      <img  height="35" width="35" [src]="_BL._Kindergarten.auth.picture">
      &nbsp;
      &nbsp;
      צא
    </a>
  </div>
</div>

<router-outlet></router-outlet>
