

<div class="ui red segment ChildComponent ">
    <div class="ui divided items">
      <div class="item">
        <div class=" ui medium image">
          <img class="ui mini image spaced" src="{{_Url}}view_photo/{{_Child.image}}">
        </div>
        <div class="content paddingRight50">
          <button (click)="delete()" class="ui icon red button  left floated">
            <i class="delete icon"></i>

          </button>

          <div class="meta">

            <span class="header"><h2>{{_Child._Name}}</h2> </span>
          </div>


          <div class="meta">
            <span class="cinema">תאריך לידה :</span>
            <span class="cinema"><b>{{_Child._BirthDay}}</b> </span>
          </div>
          <div class="meta">
            <span class="cinema">מין : </span>
            <span class="cinema">{{_Child._Gander}}</span>
          </div>

        </div>
      </div>
    </div>
</div>

