<div class="ui top fixed menu green inverted segment TopMenu">
  <div class="item">
    <my-clock></my-clock>
  </div>
  <div class="item">
     <span class="Time">
                נכנסו 6 מתוך 20
      </span>
  </div>
  <div class="item">
     <span class="Time">
        שעת כניסה : 09:15
      </span>
    <div class="item">
       <span class="Time">
        שעת יציאה : 14:30
      </span>
    </div>
  </div>

</div>

<div class="ui CardWrap" style="text-align: center;">
  <div  *ngFor="let e of _BL._Kindergarten.child_list;let i=index">
      <my-child [_Child]="e"></my-child>
  </div>
</div>

