
<div class="ui slide masked reveal image">
  <img src="{{_Url}}" class="visible content cover ">
  <div   class="hidden content hidden-form inverted container">

    <h3  >הזן סיסמא על מנת לאשר הגעה</h3>

    <br>
    <div  class="ui input">
      <input class="Password" type="password" pattern="[0-9]*" inputmode="numeric"  placeholder="סיסמא" [(ngModel)]="_Password" >

    </div>
    <div *ngIf="_WrongPassword && _Password">

      {{_WrongPassword}}
    </div>
    <br>
    <br>
    <button  (click)="onClick()" class="ui right labeled icon red huge button" [ngClass]="{red: _InOutToggle, green: !_InOutToggle}">
      <i class="sign out icon" [ngClass]="{'sign out': _Child.in_date , checkmark:!_InOutToggle}"></i>
      {{_InOutToggle ? 'יצאתי !' : 'נכנסתי'}}
    </button>
  </div>
</div>
<div class="content">
  <a class="header">{{_Child.name}}</a>
  <div class="meta">
    <span class="date">

      נולד ב-
      {{ parseDate(_Child.birth_day) | date : "dd/MM/yyyy"}}
    </span>
  </div>
</div>

<div class="extra content">
  <h3 *ngIf="_Arrived" class="ui green header">
    <i class="checkmark icon"></i>
    <div class="content">

      הגעתי ב-
      {{ parseDate(_Child.in_date) | date : "HH:mm"}}

    </div>
  </h3>
  <h3 *ngIf="_Laft" class="ui red header">
    <i class="sign out icon"></i>
    <div class="content">

      יצאתי ב-
      {{ parseDate(_Child.out_date) | date : "HH:mm"}}

    </div>
  </h3>
</div>
<div *ngFor="let hero of _Obj">
  {{_Obj.name}}
</div>
