
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="column">
              <div class="ui green compact  massive button margin-20">
                <h2>
                  הגעתי לגן
                </h2>
              </div>
            </div>
            <div class="column">
              <div class="ui blue compact massive button">
                <h2>
                  לא אגיע היום
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="eli"  onmouseleave="" style="border: solid 1px red; height: 300px; background: url('{{_Url}}') no-repeat ;background-size: cover;">
        <img   width="100%%" src="{{_Url}}">

      </div>
     <!-- <img class="ui Small images" src="/img/girl-1511710_1920.jpg">
-->

    </div>
    <div class="content">
      <h1 class="ui header">אלברט איינשיין</h1>
      <h2 class="ui header">5 בן</h2>
      <h2 class="ui header">6/10/2010 -נולדתי ב</h2>

      <div class="meta">
        <span class="date">Create in Sep 2014</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        2 Members
      </a>
    </div>
  </div>

<div class="ui modal" #ChildItem>
  <i class="close icon"></i>
  <div class="header">
    Profile Picture
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="/images/avatar/large/chris.jpg">
    </div>
    <div class="description">
      אנא הכנס סיסמא:
      <input type="text" [(ngModel)]="password" placeholder="סיסמא">
    </div>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button" (click)="onClick()" [ngClass]=" { positive: !isArrived(), disabled: !password}  " >
      {{isArrived() ? "הגעתי" : "יצאתי"}}

      <i class="checkmark icon"></i>
    </div>
  </div>
  {{_InOutToggle}}
</div>
