
:host .ui.popup.calendar
{
  cursor: pointer;
}

:host .chevron.left.icon
{
  float: left !important;
  cursor: pointer;
}

:host .chevron.right.icon
{
  float: right !important;
  cursor: pointer;
}

.choise
{
 padding-top: 30px;
}

.padding-top40
{
  padding-top: 40px;
}


.ChildComponent
{
  margin-top: 20px;

}



.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }


.Subject {
  padding: 20px;
}

.EmployeeComponent {
  margin-top: 20px;

}


.my-drop-zone {
  border: dotted 3px lightgray;
  height: 20px;
  width: 100%;
}
.nv-file-over {
  border: dotted 3px red;
  height: 20px;
  width: 100%;
} /* Default class applied to drop zones on over */
.another-file-over-class {
  border: dotted 3px green;
  height: 20px;
  width: 100%;
}


.progress
{

  margin-bottom : 20px;
  overflow :hidden;
  background-color :#f5f5f5;
  border-radius:4px;
  box-shadow :inset 0 1px 2px rgba(10,10,10,.1);
  border: solid 1px #ddd;
  height: 2.5em;
  text-align: justify;
  line-height: 2.5em;
}


.progress-bar
{
  background-color : #337ab7;
  box-shadow :inset 0 -1px 0 rgba(0,0,0,.15);
  transition :width .6s ease;
  text-align: center;
  color: #fff;
  float: right;
  height: 2.5em;

}
