
<div>
  <div class="ui vertical inverted segment cover" id="home" style="background: url('img/baby-1151351_1920.jpg') no-repeat ;background-size: cover;background-position: 0px -300px;background-color: black;">
    <div class="ui center aligned inverted container" style="font-size: xx-large; text-shadow: 0 0 10px #616161;">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <h1 class="ui huge icon inverted header">


        <div class="content" style="padding-top: 300px;">
          <img class="ui centered small image" src="/img/watchkid.png">

        </div>

        <div class="content">

          WatchKid
          <div class="sub header">אתר זה הוקם על מנת לתת מענה לצרכי הורים וגננות בגני הילדים.</div>
        </div>



        <p class="ui header inverted centered lead  ">

          <a    [routerLink]="['/site/RegisterChild']"  class="ui  large basic inverted animated fade massive button RegBtn  ">
            <div  class="visible content ">רישום ילד  </div>
            <div  class="hidden content">שנתחיל</div>
          </a>

          <a    [routerLink]="['/site/RegisterKindergarten']"  class="ui  large basic inverted animated fade massive button RegBtn  ">
            <div  class="visible content ">רישום גן  </div>
            <div  class="hidden content">הרשמה</div>
          </a>

        </p>
      </h1>
      <br>

      <br>
      <br>
      <!--<div class="ui right floated">

        <a href="" ceiboShare  [facebook]="{u: repoUrl}" class="ui facebook item button">
          <i class="facebook icon"></i>
          Facebook
        </a>
        <a href="" class="ui twitter item button">
          <i ceiboShare  [twitter]="{url:repoUrl, text:'Checkout this awesome ng2 social share directive', hashtags:'angular2, social, ceiboIT'}" class="twitter icon"></i>
          Twitter
        </a>
        <a href="" ceiboShare  [googlePlus]="{url:repoUrl}" class="ui google plus item button">
          <i class="google plus icon"></i>
          Google Plus
        </a>
      </div>-->

    </div>
  </div>
  <div class="ui vertical secondary segment">
    <div class="ui center aligned container">
      <br>
      <br>
      <iframe width="80%" height="500px" src="https://www.youtube.com/embed/P6arOkN7lj4" frameborder="0" allowfullscreen></iframe>
      <p style="font-size: xx-large">

        <br>
        "
        אין דבר שיקר לנו יותר מהילדים שלנו

        והגיע הזמן להביא גם את גני הילדים אל קידמת הטכנולוגיה
        ,
        לכן הקמנו  פלטפורמה ,  כדי לתת פתרון לצרכי ההורים והגננות בגני הילדים
        ,

        מקנה להורים ראש שקט יותר ומייעל את תפקודה השוטף של הגננת.

        "
      </p>
      <br>
      <br>
    </div>
  </div>
  <div class="ui vertical segment">
  <div class="ui center aligned container">
    <br>
    <br>
    <h2 class="ui icon huge header">
      <i class="teal volume control phone icon"></i>
    </h2>
    <p style="font-size: xx-large">

      <br>
      להזמנות התקשרו ל - 054-2432367
      ,
058-4633355

    <br>
    <br>
  </div>
</div>
  <div class="ui vertical secondary segment">
    <div class="ui center aligned container">
      <br>
      <br>
      <div class="ui horizontal header divider">
        &nbsp;
        &nbsp;
        המטרות שלנו
        &nbsp;
        &nbsp;
      </div>

      <br>
      <br>

      <div class="ui grid stackable ">
        <div class="ui one wide column"></div>
        <div class="ui four wide column">
          <h2 class="ui icon green header">
            <i class="wait icon"></i>
            <div class="content">
              לומד זמני הגעה ויציאה מהגן
            </div>
          </h2>
          <div class="ui relaxed divided list">
            <div class="item">
              <i class="large checkmark icon"></i>
              <div class="content" style="text-align: right; padding: 0.5em;font-size: 1.2em;">
                לומד משבוע לשבוע את זמני הגעתו של הילד לגן וזמני עזיבתו של הילד מהגן עפ"י חישוב ממוצע שבועי
              </div>
            </div>
            <div class="item">
              <i class="large checkmark icon"></i>
              <div class="content" style="text-align: right; padding: 0.5em;font-size: 1.2em;">
                במידה והילד לא הגיע 20 דקות לאחר הזמן המצופה תשלח הודעת SMS להורים ולמי שמוגדר באנשי הקשר של אותו ילד.
              </div>
            </div>
          </div>

        </div>
        <div class="ui one wide column"></div>
        <div class="ui four wide column">
          <h2 class="ui icon teal header">
            <i class="protect icon"></i>
            <div class="content">
              ליצור תחושה של ביטחון
            </div>
          </h2>
          <div class="ui relaxed divided list">
            <div class="item">
              <i class="large checkmark icon"></i>
              <div class="content" style="text-align: right; padding: 0.5em;font-size: 1.2em;">
                לתת הרגשה להורים שהם עם "היד על הדופק"
              </div>
            </div>
            <div class="item">
              <i class="large checkmark icon"></i>
              <div class="content" style="text-align: right; padding: 0.5em;font-size: 1.2em;">
                הטאבלט בגן משמש לגננת כ"שומר" ובכך היא יכולה להתפנות לעיסוקיה עם ילדי הגן
              </div>
            </div>
          </div>

        </div>
        <div class="ui one wide column"></div>
        <div class="ui four wide column">
          <h2 class="ui icon yellow header">
            <i class="desktop icon"></i>
            <div class="content">
              אתר לכל גן
            </div>
          </h2>
          <div class="ui relaxed divided list">
            <div class="item">
              <i class="large checkmark icon"></i>
              <div class="content" style="text-align: right; padding: 0.5em;font-size: 1.2em;">


                Watch-kid

                מאפשרת לגננות להירשם חינם לשירות וליהנות מעמוד אינטרנט אישי לכל גן.

              </div>
            </div>
            <div class="item">
              <i class="large checkmark icon"></i>
              <div class="content" style="text-align: right; padding: 0.5em;font-size: 1.2em;">
                עמוד הגן כולל: לוח מודעות, מפת הגעה לגן, תמונות מפעילויות הגן בחגים ובימי הולדת, ועוד הפתעות רבות
              </div>
            </div>
          </div>

        </div>
        <div class="ui one wide column"></div>
      </div>

      <br>
      <br>
    </div>
  </div>
  <div class="ui vertical segment">
    <div class="ui center aligned container">
      <br>
      <br>
      <div class="ui horizontal header divider">
        &nbsp;
        &nbsp;
        אודותינו
        &nbsp;
        &nbsp;
      </div>

      <br>
      <br>

      <div class="ui grid stackable ">
        <div style="padding-right:100px;" class="ui eight wide right aligned column">
          <h2 class="ui header">
            רישום גן
          </h2>
          <div class="ui relaxed list">
            <div class="item">
              <i class="large bullseye icon"></i>
              <div class="content" style="text-align: right; padding: -0.5em;font-size: 1.3em;padding-right: 20px;">
                רישום גן במערכת הינו חינמי
              </div>
            </div>
            <div class="item">
              <i class="large bullseye icon"></i>
              <div class="content" style="text-align: right; padding: -0.5em;font-size: 1.3em;padding-right: 20px;">
                מלווה בהתקנת טאבלט בכל גן
              </div>
            </div>
            <div class="item">
              <i class="large bullseye icon"></i>
              <div class="content" style="text-align: right; padding: -0.5em;font-size: 1.3em;padding-right: 20px;">
                אתר לכל גן
              </div>
            </div>
            <div class="item">
              <i class="large bullseye icon"></i>
              <div class="content" style="text-align: right; padding: -0.5em;font-size: 1.3em;padding-right: 20px;">
                מערכת התרעות לגננת
              </div>
            </div>
            <div class="item">
              <i class="large bullseye icon"></i>
              <div class="content" style="text-align: right; padding: -0.5em;font-size: 1.3em;padding-right: 20px;">
                מוגדר מראש ע"י הגננת:
                <br>
                שעת הכניסה המקסימלית לגן
                <br>
                שעת היציאה המקסימלית מהגן
              </div>
            </div>
          </div>

        </div>



        <div   class="ui eight wide right aligned column"  style="border-right:solid 1px #F3F4F5;padding-right:100px; ">

          <h2 class="ui header">
            רישום ילד
          </h2>
          <div class="ui relaxed list">
            <div class="item">
              <i class="large bullseye icon"></i>
              <div class="content" style="text-align: right; padding: -0.5em;font-size: 1.3em;padding-right: 20px;">
                מערכת חכמה לשליחת SMS להורים
              </div>
            </div>
            <div class="item">
              <i class="large bullseye icon"></i>
              <div class="content" style="text-align: right; padding: -0.5em;font-size: 1.3em;padding-right: 20px;">
                הגדרת אנשי קשר (עד 3)
              </div>
            </div>
            <div class="item">
              <i class="large bullseye icon"></i>
              <div class="content" style="text-align: right; padding: -0.5em;font-size: 1.3em;padding-right: 20px;">
                בקרת ההורים מרחוק
              </div>
            </div>
            <div class="item">
              <i class="large bullseye icon"></i>
              <div class="content" style="text-align: right; padding: -0.5em;font-size: 1.3em;padding-right: 20px;">
                שיתוף מידע באתר הגן
              </div>
            </div>
          </div>
        </div>

      </div>

      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
  <div class="ui vertical secondary segment">
    <div class="ui center aligned container">
      <br>
      <br>
      <br>
      <br>

      <span style="font-size: 56pt">
        <i class="mobile icon"></i>
        <i class="laptop icon"></i>
        <i class="tv icon"></i>
        <i class="desktop icon"></i>
        <i class="tablet icon"></i>
      </span>

      <br>
      <br>
      <br>
    </div>
  </div>
</div>
